.guide-header {
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;

  &.last {
    margin: 0;
  }
}

.btn {
  width: 48px;
}

.guide {
  width: 270px;
}
