header {
  padding: 16px;
  color: var(--primary-text-color);
  background: var(--primary-color);
  margin-bottom: 32px;
  box-shadow: 0 0 3px #999;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creds {
  display: flex;
  align-items: center;
  gap: 8px;
}

.creds__name {
  @media screen and (max-width: 479px) {
    display: none;
  }
}

.creds__github {
  height: 24px;
}
