<div class="table-container">
  <table>
    <thead>
      <tr>
        @for (variable of variables(); track $index) {
          <th>{{ variable }}</th>
        }
        @for (expr of childExpressions(); track $index) {
          <th>{{ expr.toString() }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (comb of combinations(); track $index) {
        <tr>
          @for (variable of variables(); track $index) {
            <td>{{ comb[variable] | tonumber }}</td>
          }
          @for (expr of childExpressions(); track $index) {
            <td>{{ expr.solve(comb) | tonumber }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
