table {
  border-collapse: collapse;
  box-shadow: 0 0 5px #999;
}

th, td {
  background: #fff;
  padding: 8px 24px;
}

th {
  background: var(--primary-color);
  color: var(--primary-text-color);
}

td {
  text-align: center;
  min-width: 48px;
}
